%h1= t("gamfora.metric.views.edit.header", name: @metric.name, game_name: @game.name)
= form_for(@metric, as: :metric, url: game_metric_path(@metric.game,@metric), method: :patch) do |f|
  = render 'gamfora/shared/error_messages', obj: f.object
  .field
    = f.label :type
    = f.text_field :type, disabled: true

  = render 'half_form', f: f
= link_to t("gamfora.buttons.back"), game_metrics_path(@metric.game)
