!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Gamfora
    = stylesheet_link_tag    "gamfora/application", media: "all"
    = javascript_include_tag "gamfora/application"
    = csrf_meta_tags
  %body
    = render 'gamfora/shared/flashes'
    = yield
