= form_for([player.game, player]) do |f|
  = render 'gamfora/shared/error_messages', obj: player
  .field
    = f.label :user_id
    = f.collection_select :user_id, @users, :id, :name
  .actions
    = f.submit
