<%= form_for([@gaction.game, @gaction]) do |f| %>
  <% if @gaction.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@gaction.errors.count, "error") %> prohibited this gaction from being saved:</h2>

      <ul>
      <% @gaction.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :key %><br />
    <%= f.text_field :key %>
  </div>
  <div class="field">
    <%= f.label :game %><br />
    <%= f.text_field :game %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
