<h1>Listing gactions</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Game</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @gactions.each do |gaction| %>
  <tr>
    <td><%= gaction.name %></td>
    <td><%= gaction.game %></td>
    <td><%= link_to 'Show', [gaction.game, gaction] %></td>
    <td><%= link_to 'Edit', edit_game_gaction_path(gaction.game, gaction) %></td>
    <td><%= link_to 'Destroy', [gaction.game, gaction], :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Gaction', new_game_gaction_path(params[:game_id]) %>
