<p id="notice"><%= notice %></p>

<h1>Players</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Game</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @players.each do |player| %>
      <tr>
        <td><%= player.user_id %></td>
        <td><%= player.game_id %></td>
        <td><%= link_to 'Show', [player.game, player] %></td>
        <td><%= link_to 'Edit', edit_game_player_path(player.game, player) %></td>
        <td><%= link_to 'Destroy', [player.game, player], method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Player', new_game_player_path(params[:game_id]) %>
