<h1>Listing players</h1>

<table>
  <tr>
    <th>User</th>
    <th>Game</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @players.each do |player| %>
  <tr>
    <td><%= player.user_id %></td>
    <td><%= player.game_id %></td>
    <td><%= link_to 'Show', [player.game, player] %></td>
    <td><%= link_to 'Edit', edit_game_player_path(player.game, player) %></td>
    <td><%= link_to 'Destroy', [player.game, player], :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Player', new_game_player_path(params[:game_id]) %>
